In [1]:
import pandas as pd
import gensim

In [2]:
source1 = pd.read_csv("source_1.csv")
source2 = pd.read_csv("source_2.csv")
matched = pd.read_csv("matched_data.csv")
predicted = pd.read_csv("predicted_matches.csv")

In [3]:
source1.head()

   id                                               name
0   0  Horses, asses, mules and hinnies; live, pure-b...
1   1           Horses; live, pure-bred breeding animals
2   2  Horses; live, other than pure-bred breeding an...
3   4  Horses, asses, mules and hinnies; live, other ...
4   5   Bovine animals; live, pure-bred breeding animals

In [4]:
source2.head()

   id                            name
0   0   leveillula lactucae-serriolae
1   1             podosphaera aphanis
2   2          lathyrus czeczottianus
3   3  crocus biflorus subsp. caricus
4   4          hordeum brevisubulatum

In [5]:
source1.shape

(13238, 2)

In [6]:
source2.shape

(48943, 2)

In [8]:
predicted.head()

   source_1  source_2
0       101       201
1       102       202
2       103       203
3       104       204
4       105       205

In [10]:
source1.name[0]

'Horses, asses, mules and hinnies; live, pure-bred breeding animals'