In order to offer discounts on its products, a campony will want to find the price at which its product can be a better deal compared to competitors. The following dataset will be used train a ML model to predict demand for a product at different prices.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("demand.csv")
df.head()

   ID  Store ID  Total Price  Base Price  Units Sold
0   1      8091      99.0375    111.8625          20
1   2      8091      99.0375     99.0375          28
2   3      8091     133.9500    133.9500          19
3   4      8091     133.9500    133.9500          44
4   5      8091     141.0750    141.0750          52

In [4]:
# check for missing values
df.isna().sum()

ID             0
Store ID       0
Total Price    1
Base Price     0
Units Sold     0
dtype: int64

In [6]:
# drop the missing value
df1 = df.dropna();df1.isna().sum()

ID             0
Store ID       0
Total Price    0
Base Price     0
Units Sold     0
dtype: int64