In [54]:
import pandas as pd
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)
df = pd.read_csv("weather_data.csv")
df

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  02/01/2017           35          8  Sunny
2  03/01/2017           28          2   Snow
3  04/01/2017           24          7   Snow
4  05/01/2017           32          4   Rain
5  06/01/2017           31          2  Sunny

In [58]:
df.shape # rows, columns = df.shape
rows, columns = df.shape
rows
columns

4

In [59]:
df.head() 
df.head(3)

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  02/01/2017           35          8  Sunny
2  03/01/2017           28          2   Snow

In [61]:
df.tail()
df.tail(2)

          day  temperature  windspeed  event
4  05/01/2017           32          4   Rain
5  06/01/2017           31          2  Sunny

In [63]:
df[1:3]
df[:]

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  02/01/2017           35          8  Sunny
2  03/01/2017           28          2   Snow
3  04/01/2017           24          7   Snow
4  05/01/2017           32          4   Rain
5  06/01/2017           31          2  Sunny

In [64]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [65]:
df['day'] # or df.day

0    01/01/2017
1    02/01/2017
2    03/01/2017
3    04/01/2017
4    05/01/2017
5    06/01/2017
Name: day, dtype: object

In [66]:
df[['day','temperature']]

          day  temperature
0  01/01/2017           32
1  02/01/2017           35
2  03/01/2017           28
3  04/01/2017           24
4  05/01/2017           32
5  06/01/2017           31

In [67]:
df['temperature'].max()

35

In [68]:
df[df['temperature']>=32]

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  02/01/2017           35          8  Sunny
4  05/01/2017           32          4   Rain

In [69]:
df['day'][df['temperature'] == df['temperature'].max()] # Kinda doing SQL in pandas

1    02/01/2017
Name: day, dtype: object

In [70]:
df[df['temperature'] == df['temperature'].max()] # Kinda doing SQL in pandas

          day  temperature  windspeed  event
1  02/01/2017           35          8  Sunny

In [71]:
df['temperature'].std()

3.8297084310253524

In [72]:
# summary
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.833333
std       3.829708   2.562551
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   8.000000

In [79]:
df.set_index('day')
df.set_index('day', inplace=True)

KeyError: "None of ['day'] are in the columns"

In [80]:
df

            temperature  windspeed  event
day
01/01/2017           32          6   Rain
02/01/2017           35          8  Sunny
03/01/2017           28          2   Snow
04/01/2017           24          7   Snow
05/01/2017           32          4   Rain
06/01/2017           31          2  Sunny

In [81]:
df.index

Index(['01/01/2017', '02/01/2017', '03/01/2017', '04/01/2017', '05/01/2017',
       '06/01/2017'],
      dtype='object', name='day')

In [85]:
# usind date as an index
df.loc["03/01/2017"]

temperature      28
windspeed         2
event          Snow
Name: 03/01/2017, dtype: object

In [87]:
df.reset_index(inplace=True)
df

   index         day  temperature  windspeed  event
0      0  01/01/2017           32          6   Rain
1      1  02/01/2017           35          8  Sunny
2      2  03/01/2017           28          2   Snow
3      3  04/01/2017           24          7   Snow
4      4  05/01/2017           32          4   Rain
5      5  06/01/2017           31          2  Sunny

In [88]:
df.set_index("event",inplace=True)

In [89]:
df

       index         day  temperature  windspeed
event
Rain       0  01/01/2017           32          6
Sunny      1  02/01/2017           35          8
Snow       2  03/01/2017           28          2
Snow       3  04/01/2017           24          7
Rain       4  05/01/2017           32          4
Sunny      5  06/01/2017           31          2

In [92]:
df.loc["Snow"]

       index         day  temperature  windspeed
event
Snow       2  03/01/2017           28          2
Snow       3  04/01/2017           24          7