In [4]:
import pandas as pd
# create 2016 yearly time period
y = pd.Period('2016')
# 'A-DEC' means period is annual ending december
y

Period('2016', 'A-DEC')

In [5]:
dir(y)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__pyx_vtable__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_delta',
 '_add_offset',
 '_dtype',
 '_from_ordinal',
 '_get_to_timestamp_base',
 '_maybe_convert_freq',
 'asfreq',
 'day',
 'day_of_week',
 'day_of_year',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [6]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [8]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [18]:
# create a monthly time period
m = pd.Period('2021-12', freq= 'M')
m

Period('2021-12', 'M')

In [19]:
m.start_time

Timestamp('2021-12-01 00:00:00')

In [20]:
m.end_time

Timestamp('2021-12-31 23:59:59.999999999')

In [21]:
# finding for next month
m + 1

Period('2022-01', 'M')

In [25]:
# creating a daily time period
d = pd.Period('2021-12-11', freq = 'D')
d

Period('2021-12-11', 'D')

In [26]:
d + 1

Period('2021-12-12', 'D')

In [27]:
# for a leap year
d = pd.Period('2020-2-28', freq = 'D')
d

Period('2020-02-28', 'D')

In [29]:
d + 1

Period('2020-02-29', 'D')

In [32]:
# hourly time period
h = pd.Period('2021-12-11 23:00:00', freq= "H")
h

Period('2021-12-11 23:00', 'H')

In [35]:
h.start_time

Timestamp('2021-12-11 23:00:00')

In [36]:
h.end_time

Timestamp('2021-12-11 23:59:59.999999999')

In [42]:
h - 6

Period('2021-12-11 17:00', 'H')

In [41]:
# using pandas offset
h + pd.offsets.Hour(5)

Period('2021-12-12 04:00', 'H')

In [44]:
# creating a quarterly period
q = pd.Period("2017Q1")
q

Period('2017Q1', 'Q-DEC')

In [46]:
q + 1

Period('2017Q2', 'Q-DEC')

In [47]:
q.start_time

Timestamp('2017-01-01 00:00:00')

In [49]:
q.end_time

Timestamp('2017-03-31 23:59:59.999999999')

In [51]:
# companiess whose fiscal year is diff
# eg.walmart, feb-jan
q = pd.Period("2017Q1", freq= 'Q-JAN')
q

Period('2017Q1', 'Q-JAN')

In [52]:
q.start_time

Timestamp('2016-02-01 00:00:00')

In [54]:
q.end_time

Timestamp('2016-04-30 23:59:59.999999999')

In [55]:
# Q4
q4 = pd.Period("2017Q4", freq= 'Q-JAN')
q4

Period('2017Q4', 'Q-JAN')

In [56]:
q4.start_time

Timestamp('2016-11-01 00:00:00')

In [58]:
q4.end_time

Timestamp('2017-01-31 23:59:59.999999999')

In [61]:
# .asfreq converts to a different frequency
q.asfreq('M', how= 'end')

Period('2016-04', 'M')

In [2]:
q2 = pd.Period('2018Q2', freq= 'Q-JAN')
q2

NameError: name 'pd' is not defined

In [1]:
# Period arithmetic
q2 - q

# more frequencis on pandas documentation

NameError: name 'q2' is not defined

In [2]:
# creating a period index
# perod_range()
import pandas as pd
idx = pd.period_range('2011', '2017', freq= 'Q-JAN')
idx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [4]:
idx[0].start_time

Timestamp('2010-11-01 00:00:00')

In [5]:
idx[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [7]:
# without end dates
idx = pd.period_range('2011', periods = 10, freq= 'Q-JAN')
idx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [9]:
# creating random values for the idx

import numpy as np
ps = pd.Series(np.random.randn(len(idx)), idx)
ps

2011Q4    1.037149
2012Q1   -0.781578
2012Q2    0.775151
2012Q3    0.847692
2012Q4   -1.324164
2013Q1    1.037352
2013Q2    1.476687
2013Q3    0.285844
2013Q4    1.223699
2014Q1    1.279597
Freq: Q-JAN, dtype: float64

In [10]:
ps.index

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [14]:
# partia operations
ps['2011': '2013']

2011Q4    1.037149
2012Q1   -0.781578
2012Q2    0.775151
2012Q3    0.847692
2012Q4   -1.324164
2013Q1    1.037352
2013Q2    1.476687
2013Q3    0.285844
2013Q4    1.223699
2014Q1    1.279597
Freq: Q-JAN, dtype: float64

In [15]:
# converting period index to datetime index
pst = ps.to_timestamp()
pst

2010-11-01    1.037149
2011-02-01   -0.781578
2011-05-01    0.775151
2011-08-01    0.847692
2011-11-01   -1.324164
2012-02-01    1.037352
2012-05-01    1.476687
2012-08-01    0.285844
2012-11-01    1.223699
2013-02-01    1.279597
Freq: QS-NOV, dtype: float64

In [17]:
pst.index

DatetimeIndex(['2010-11-01', '2011-02-01', '2011-05-01', '2011-08-01',
               '2011-11-01', '2012-02-01', '2012-05-01', '2012-08-01',
               '2012-11-01', '2013-02-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [18]:
# coverting day time index to period index
pst.to_period()

2010Q4    1.037149
2011Q1   -0.781578
2011Q2    0.775151
2011Q3    0.847692
2011Q4   -1.324164
2012Q1    1.037352
2012Q2    1.476687
2012Q3    0.285844
2012Q4    1.223699
2013Q1    1.279597
Freq: Q-DEC, dtype: float64

# Processing wal mart;s financials

In [22]:
import pandas as pd
df = pd.read_csv("wmt_ts_tutorial5.csv")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [23]:
# Setting line item as index
df.set_index('Line Item', inplace = True)
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [24]:
# Transposing the table
df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [27]:
# converting index to period from object
df.index = pd.PeriodIndex(df.index, freq='Q-JAN')
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [28]:
# creating start date column using map()
df['start date'] = df.index.map(lambda x: x.start_time) 
df

Line Item  Revenue  Expenses  Profit start date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [29]:
# creating end date
df['end date'] = df.index.map(lambda x: x.end_time) 
df

Line Item  Revenue  Expenses  Profit start date                      end date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999