# Building an End-to-End Machine Learning Model with Python and Dash  

An end-to-end Machine Learning (ML) model is a complete system that encompasses all stages of an ML project—from data collection and preprocessing to model training, deployment, and maintenance. Deploying an ML model as an interactive application allows users to make real-time predictions, enhancing its practical utility.  

In this article, we will explore how to build an end-to-end ML model using **Python** and **Dash**, a UI framework for creating web applications. The process involves:  

- Setting up a new Dash application.  
- Designing the app layout using Dash’s HTML and Core Components, including input fields, buttons, and output areas.  
- Writing callback functions to handle user interactions, process inputs, and display predictions.  
- Loading the trained model within the app for real-time predictions.  

Let's dive in and build a fully functional ML application!

In [4]:
# import libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [3]:


df = pd.read_csv("./Real_Estate.csv")

In [2]:
df.head()

,Transaction date,House age,Distance to the nearest MRT station,Number of convenience stores,Latitude,Longitude,House price of unit area
0,2012-09-02 16:42:30.519336,13.3,4082.0150,8,25.007059,121.561694,6.488673
1,2012-09-04 22:52:29.919544,35.5,274.0144,2,25.012148,121.546990,24.970725
2,2012-09-05 01:10:52.349449,1.1,1978.6710,10,25.003850,121.528336,26.694267
3,2012-09-05 13:26:01.189083,22.2,1055.0670,5,24.962887,121.482178,38.091638
4,2012-09-06 08:29:47.910523,8.5,967.4000,6,25.011037,121.479946,21.654710

In [5]:
# Selecting features and target variable
features = ['Distance to the nearest MRT station', 'Number of convenience stores', 'Latitude', 'Longitude']
target = 'House price of unit area'

X = df[features]
y = df[target]